In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import os
import glob
import pickle

from tqdm import tqdm
import torch
from pytorch_tabnet.tab_model import TabNetClassifier
import copy

from sklearn.preprocessing import LabelEncoder

In [2]:
base_dir = os.path.join("..","..")
test_df = pd.read_csv(os.path.join(base_dir,"input","riiid-test-answer-prediction","example_test.csv"), low_memory=False,index_col=0)

In [4]:
model_path = os.path.join("..","..",
                          "input",
                          "riiid-test-answer-prediction",
                          "riiid-model-tabnet",
                          "featureV1-TabNet_trained_100000samples10epoch.mdl")

model = TabNetClassifier()
model.load_model(model_path)

# これがないと動かない
model.preds_mapper = {0: 0, 1: 1}

Device used : cuda
Device used : cpu

In [9]:
test_df["prior_question_had_explanation"] = test_df["prior_question_had_explanation"].astype("float")
test_df = test_df.fillna(test_df.median())

In [10]:
target = "answered_correctly"
features = [
            'timestamp',
            'user_id',
            'content_id',
            'content_type_id',
            'task_container_id',
            #'user_answer',
            #'answered_correctly',
            'prior_question_elapsed_time',
            'prior_question_had_explanation'
           ]

In [11]:
test_df[features]

,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation
row_id,,,,,,,
0,0,275030867,5729,0,0,24667.0,1.0
1,13309898705,554169193,12010,0,4427,19000.0,1.0
2,4213672059,1720860329,457,0,240,17000.0,1.0
3,62798072960,288641214,13262,0,266,23000.0,1.0
4,10585422061,1728340777,6119,0,162,72400.0,1.0
...,...,...,...,...,...,...,...
104,13167339284,1900527744,3004,0,1179,24667.0,1.0
105,13167339284,1900527744,3003,0,1179,24667.0,1.0
106,64497673060,7792299,7908,0,676,19000.0,1.0
107,62798166743,288641214,9077,0,269,25000.0,1.0
108,2059176357,2018567473,12119,0,591,20000.0,1.0

In [13]:
test_df[target] = model.predict_proba(test_df[features].values)[:,1]

In [14]:
test_df

,group_num,timestamp,user_id,content_id,content_type_id,task_container_id,prior_question_elapsed_time,prior_question_had_explanation,prior_group_answers_correct,prior_group_responses,answered_correctly
row_id,,,,,,,,,,,
0,0,0,275030867,5729,0,0,24667.0,1.0,[],[],0.448626
1,0,13309898705,554169193,12010,0,4427,19000.0,1.0,NaN,NaN,0.569604
2,0,4213672059,1720860329,457,0,240,17000.0,1.0,NaN,NaN,0.542752
3,0,62798072960,288641214,13262,0,266,23000.0,1.0,NaN,NaN,0.607757
4,0,10585422061,1728340777,6119,0,162,72400.0,1.0,NaN,NaN,0.471234
...,...,...,...,...,...,...,...,...,...,...,...
104,3,13167339284,1900527744,3004,0,1179,24667.0,1.0,NaN,NaN,0.541998
105,3,13167339284,1900527744,3003,0,1179,24667.0,1.0,NaN,NaN,0.542032
106,3,64497673060,7792299,7908,0,676,19000.0,1.0,NaN,NaN,0.511319
107,3,62798166743,288641214,9077,0,269,25000.0,1.0,NaN,NaN,0.500069
108,3,2059176357,2018567473,12119,0,591,20000.0,1.0,NaN,NaN,0.580827